name: "Build and Publish Base Images"
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 1 * *'

permissions:
  id-token: write
  contents: read
  packages: write

env:
  REPOSITORY: "lancemccarthy/skia-aspnet"

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Get package metadata from Docker Hub
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{env.REPOSITORY}}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_HUB_USERNAME}}
        password: ${{secrets.DOCKER_HUB_PAT}}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: v6.0
      uses: docker/build-push-action@v5
      with:
        context: 'BuildContexts/aspnet60'
        platforms: linux/arm64,linux/amd64
        push: true
        tags: |
          ${{env.REPOSITORY}}:6.0
          ghcr.io/${{env.REPOSITORY}}:6.0

    - name: v7.0
      uses: docker/build-push-action@v5
      with:
        context: 'BuildContexts/aspnet70'
        platforms: linux/arm64,linux/amd64
        push: true
        tags: |
          ${{env.REPOSITORY}}:6.0
          ghcr.io/${{env.REPOSITORY}}:6.0

    - name: v8.0
      uses: docker/build-push-action@v5
      with:
        context: 'BuildContexts/aspnet80'
        platforms: linux/arm64,linux/amd64
        push: true
        tags: |
          ${{env.REPOSITORY}}:8.0
          ghcr.io/${{env.REPOSITORY}}:8.0

    - name: v9.0
      uses: docker/build-push-action@v5
      with:
        context: 'BuildContexts/aspnet90'
        platforms: linux/arm64,linux/amd64
        push: true
        tags: |
          ${{env.REPOSITORY}}:9.0
          ghcr.io/${{env.REPOSITORY}}:9.0

    - name: v10.0
      uses: docker/build-push-action@v5
      with:
        context: 'BuildContexts/aspnet90'
        platforms: linux/arm64,linux/amd64
        push: true
        tags: |
          ${{env.REPOSITORY}}:10.0
          ghcr.io/${{env.REPOSITORY}}:10.0